In [1]:
# Импортирование библиотек

import numpy as np
import pandas as pd

**Задание 1**

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
movies_ratings = pd.read_csv('ratings.csv')
movies_ratings_5 = movies_ratings[ movies_ratings['rating'] >= 5 ] #Фильтр: все фильмы с рейтингом 5.0
best_movie_id = movies_ratings_5['movieId'].value_counts().index[0] #ID фильма с максимальным количеством оценок 5.0 (id 318)

movies_name = pd.read_csv('movies.csv')
movies_name[ movies_name['movieId'] == best_movie_id ] #Фильтруем фильм по его ID

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

**Задание 2**

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [3]:
tbl = pd.read_csv('power.csv')

tbl_filtered = tbl[ ((tbl['category'] == 4) & (tbl['year'] >= 2005) & (tbl['year'] <= 2010) & (tbl['quantity'] > 0)) | 
                   ((tbl['category'] == 12) & (tbl['year'] >= 2005) & (tbl['year'] <= 2010) & (tbl['quantity'] > 0)) | 
                   ((tbl['category'] == 21) & (tbl['year'] >= 2005) & (tbl['year'] <= 2010) & (tbl['quantity'] > 0))]

tbl_filtered_country = tbl_filtered[ (tbl_filtered['country'].str.contains('Latvia', case = False)) |
                                   (tbl_filtered['country'].str.contains('Lithuania', case = False)) | 
                                   (tbl_filtered['country'].str.contains('Estonia', case = False)) ]

sum(tbl_filtered_country['quantity']) #Также правильно? Посчитается сумма всех значений по столбцу 'quantity'?

240580.0

**Задание 3**

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):

https://fortrader.org/quotes

https://www.finanz.ru/valyuty/v-realnom-vremeni

In [4]:
html_tbl = pd.read_html('https://fortrader.org/quotes/metals')[0]
html_tbl

                      Название       Цена  Изменение  Изменение(%)  Обновлено
0  Золото Цена золота на бирже  1774.9000    -0.9000       -0.1000        NaN
1      Серебро Цена на серебро    17.7860     0.0200        0.1130        NaN
2      Платина Цены на платину   804.1000    -5.9000       -0.7000        NaN
3    Палладий Цена на Палладий  1854.0500   -12.9500       -0.6900        NaN
4      Медь Цена меди на бирже     2.4575    -0.2105       -7.8898        NaN